* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5DB7DE;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 5rem;
    font-weight: 100px;
    background-color: #ffffc7;
    color: #b0413e;
}
.reset{
    height: 8vmin;
    width: 18vmin;
    border-radius:0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 100px;
    background-color: #191913;
    color: white;
}
.msg-container{
    height: 25vmin;
    margin-top: 15px;
}
#msg{
    font-size: 2rem;
    color: #ffffc7;
}
#new-game{
     height: 8vmin;
    width: 18vmin;
    border-radius:0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 100px;
    background-color: #191913;
    color: white;
}
.hide{
    display: none;
}